@charset "utf-8";
/* CSS Document */


/* FONT */
/* ============================================ */

/* Inter */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
/* Noto Sans JP */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');
/* Pacifico */
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
/* DotGothic16 */
@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');

@font-face {
  font-family: 'HonokaMincho';
  src: url('../fonts/Honoka_Shin_Mincho_L.woff2') format('woff2'),
       url('../fonts/Honoka_Shin_Mincho_L.woff') format('woff');
}

:root {
  --ttl-sub-font: "Pacifico", cursive;
  --font-en-gothic: "Inter", sans-serif;
  --ttl-font: 'HonokaMincho', serif;
  --game-font: 'DotGothic16', sans-serif;;
}


/* BASE */
/* ============================================ */
* {
  box-sizing: border-box;
}
html {
  width:100%;
  height:100%;
  min-height:100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans JP', sans-serif;
  color: #5D5D5D;
  width: 100%;
  min-height: 100%;
  height: 100%;
}
*:focus {
  outline: none!important;
}
html, body, header, footer, main, nav, section, article, figure, figcaption, div, p, ul, ol, dl, li, dt, dd, h1, h2, h3, h4, h5, h6, em, address {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  list-style: none;
}
a {
  color: inherit;
  text-decoration: none;
}
a:hover,
a:hover * {
  opacity: 0.7;
  text-decoration:none;
}
a * {
  transition: 0.05s;
}


/* ORIGINAL Add */
/* ============================================ */
.clearfix:after {
  content: "";
  clear: both;
  display: block;
}
.abbr {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  overflow: hidden;
}

/*** .flexBox ***/
.flexBox {
  display: flex;
  flex-wrap: wrap;
}

/*** .grid ***/
.grid {
  display: grid;
  gap: 20px;
}
/* 列数切り替え用クラス */
.grid-1 {
  grid-template-columns: repeat(1, 1fr);
}
.grid-2 {
  grid-template-columns: repeat(2, 1fr);
}
.grid-3 {
  grid-template-columns: repeat(3, 1fr);
}
.grid-4 {
  grid-template-columns: repeat(4, 1fr);
}

/*** .more_btn ***/
.moreBtn {
  display: block;
  width: 230px;
  margin: 5% auto;
  padding: 1% 2%;
  background: #fff;
  border: 1px solid #ccc;
  text-align: center;
  font-size: 1.4rem;
}
.moreBtn:after {
  content: " >>";
  margin-left: 1em;
}
a.more_btn:hover {
  border: 1px solid #ccc;
  background: #999;
  color: #fff;
}

.pc_none { display: none;}
.sp_none { display: block;}

@media screen and (max-width: 820px) {
  .pc_none { display: block;}
  .sp_none { display: none;}
}


/* .loading */
/* ============================================ */
/*** .loading ***/
.loading {
  width: 100vw;
  height: 100vh;
  transition: all 1s;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  opacity: 1;
  visibility: visible;
}
.loading.is-active {
  opacity: 0;
  visibility: hidden;
}
.loading-animation {
  width: 100vw;
  height: 100vh;
  transition: all 1s;
  background-color: #fff;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
}
.loading-animation img {
  display: block;
  width: 120px;
}
.loading-animation img + p {
  display: block;
  font-size: 2.8em;
  font-weight: 900;
  color: #000;
}
.loading-animation.is-active {
  opacity: 1;
  visibility: visible;
}


/* #PageTop */
/* ============================================ */
#PageTop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1;
}
#PageTop a {
  display: block;
  z-index: 2;
  width: 35px;
  height: 35px;
  padding: 7px 0 0 0;
  border-radius: 30px;
  background-color: #666;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
}


/* #hamMenu */
/* ============================================ */
button.btn_menu {
  position: fixed;
  top: 18px;
  right: 15px;
  z-index: 1001;
  display: block;
  background: none;
  width: 40px;
  padding: 5px;
  color:#00345f;
  letter-spacing: 0.1em;
  cursor: pointer;
  text-align: center;
  outline: none;
  background: none;
  border: none;
}
button.btn_menu span.bar {
  display: block;
  height: 2px;
  background-color: #00345f;
  margin: 10px 0;
  transition: all 0.2s;
  transform-origin: 0 0;
}
span.bar.bar2 {
  margin: 8px 0;
}
button.btn_menu .close {
  letter-spacing: 0.01em;
  display: none;
  font-size: 0.5em;
  margin: 8px 0 0;
}
button.btn_menu .menu {
  display: block;
  font-size: 0.5em;
  margin: 8px 0 0;
}
button.btn_menu.active span.bar {
  width: 34px;
}
button.btn_menu.active .bar1 {
  transform: rotate(45deg);
}
button.btn_menu.active .bar2 {
  opacity: 0;
}
button.btn_menu.active .bar3 {
  transform: rotate(-45deg);
}
button.btn_menu.active .menu {
  display: none;
}
button.btn_menu.active .close {
  display: block;
}

.ham nav {
  width: 100%;
  height: 100%;
  transition: all 0.2s;
  transform: translate(100%);
  position: fixed;
  top: 0;
  right: 0;
  z-index: -1;
  background-color: #FFF;
  overflow: scroll;
  text-align: center;
}
.ham nav.scrollbar_none::-webkit-scrollbar{
  display: none;
}
.ham nav.open {
  transform: translate(0); 
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
.ham nav ul {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  width: 100%;
}
.ham nav ul li + li {
  margin-top: 3em;
}
.ham nav ul li a {
  font-size: 1.4em;
  font-weight: 700;
}

.bg {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 2;
  background-color: rgba(51,51,51,0.5);
  display: none;
}



/* SP */
/* ============================================ */
@media screen and (max-width: 820px) {
  .grid {
    grid-template-columns: repeat(1, 1fr) !important;
  }
}
@media screen and (max-width: 480px) {
  .grid {
    grid-template-columns: 1fr !important;
  }
}
